<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="ACTION_OPEN_DOCUMENT" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_config"
        android:supportsRtl="false"
        android:theme="@style/MyAppTheme"
        tools:targetApi="31">

        <activity
            android:name=".ui.activities.FirstActivity"
            android:exported="true"
            android:forceDarkAllowed="true"
            android:theme="@style/MyAppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/MyAppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.SessionActivity"
            android:exported="false"
            android:theme="@style/MyAppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.PreferencesActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".ui.activities.LanguageRepoActivity"
            android:exported="false"
            android:label="@string/title_activity_language_repo"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".ui.activities.TrainingSetupActivity"
            android:exported="false"
            android:label="@string/TitleTrainingSetup"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".ui.activities.SessionResultActivity"
            android:exported="false"
            android:label="@string/TitleSessionResult"
            android:theme="@style/MyAppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.TheoryActivity"
            android:exported="false"
            android:label="@string/TitleTheories"
            android:theme="@style/MyAppTheme" />
    </application>

</manifest>